/* Modal Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../public/img/project-2.jpg") no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

/* Open Button Styles*/

#open-btn {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 300px;
    height: 70px;
    background: transparent;
    color: #fff;
    font-size: 1.5rem;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px white;
    transition: .5s;
}

#open-btn:hover {
    background-color: #fff;
    color: black;
}

/* Outer Modal */
/* Should Occupy the whole screen*/

#modal-container {
    /*Hide by Default*/
    display: none;
    /* Occupy the whole Screen*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*  Add Background blur*/
    background-color: rgba(0,0,0, 0.2);
}


/* Inner Modal Styles*/

#modal {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Assign Animation */
    animation-name: animateModal;
    animation-duration: .4s;

}

/* Modal Close Button Styles */
#close-btn {
    font-size: 3rem;
}

#close-btn:hover {
    cursor: pointer;
    font-size: 3rem;
    color: #f00;
}


/* Modal Animation */

@keyframes animateModal {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }

}