/* Universal Styles */

body {
    background-color: black;
    color: white;
    font-family: "Space Mono", sans-serif;

    background-image: url(assets/space.jpg);
    background-attachment: fixed;
    background-size: cover;
    line-height: 1.4em;
}

body .container {
    max-width: 1200px;
    margin: 0 auto;
}


/* Header Section */

header {

    text-align: center;
}

.page-title h1 {
    display: inline-block;
}


.page-title .logo {
    background-image: url(assets/spaceship.png);
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 1em;
}




/* Main Section */

.main {

    text-align: center;
}

.main .clearfix {
    clear: both;
}

.main .page-description {
    padding: 30px;
}

.main .learn-more {
    display: block;
    text-decoration: none;
    color: darkorange;
    margin: 25px 0 0 0;
}


.main .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.gallery-item {
    margin: 20px;
}


.gallery-item .thumbnail {
    width: 240px;
    border: 2px solid GhostWhite;
    border-radius: 4px;
}




/* Footer Section */

.footer {
    margin-top: 30px;
}

.footer ul {
    display: block;
}


.footer li {
    display: inline;
    margin: 0 20px 0 0;
    color: GhostWhite;
    text-transform: uppercase;

}

/* Button */
.footer a {
    line-height: 60px;
    border: 1px solid GhostWhite;
    padding: 7px;
    border-radius: 4px;
    color: DarkOrange;
    text-decoration: none;
    text-transform: uppercase;
}


.footer a:hover {
    border: 1px solid darkorange;
    background-color: antiquewhite;
    color: black;

}


.footer .contact-btn {
    cursor: pointer;
    margin: 20px 30px;
    text-align: center;
}

.footer contact-btn a:active {
    position: relative;
    bottom: 2px;
}

/*  Media Queries */


/*  Applies only when screen size is less than 500px */
@media only screen and (max-width: 500px) {
    .page-title {
        width: 270px;
        margin: auto;
    }
}


/*  Applies only when screen size is within 320 ~ 480  */
@media only screen and (min-width: 320px) and (max-width: 480px),
(orientation:portrait) {

    /* Enlarge Images */
    .gallery-item .thumbnail {
        width: 95%;
    }
}


/*  Applies only when screen resolution is larger than 120 dpi */
@media only screen and (min-resolution: 120dpi) {
    .page-title .logo {
        background-image: url(assets/spaceship@2x.png);
    }
}


/*  Applies only when screen resolution is larger than 120 dpi */
@media only screen and (max-resolution: 120dpi) and (max-width: 480px) {

    .page-description {
        font-size: 20px;
    }
}


/*  Applies only when screen resolution is larger than 120 dpi */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) {


    .page-title,
    .page-description {
        float: left;
        width: 20em;
    }

    .page-title h5 {
        text-align: left;
        margin-left: 30px;
    }



    .page-description {
        text-align: left;
    }


}