/* General Styles */

html {
    font-size: 16px;
}

img {
    display: inline-block;

}

body {
    text-align: center;
}

p {
    border: 1px solid black;
    min-width: 200px;
    min-height: 200px;
}

/* Banner Section */

.banner {

    /*  Set Dimension */
    width: 86%;
    margin: 0 auto;
    border: 0px solid black;
    background-image: url(assets/camel-background.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 46rem;
}


.banner h1 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 3.75rem;

}


/* Blog Section */


.blog {
    /*  Set Dimension */
    width: 86%;
    margin: 0 auto;

    border: 1px solid black;
    font-family: 'Merriweather', serif;

}

.blog .post {
    border: 1px solid black;
    width: 52%;
    margin: 0 auto;
    margin-top: 12.5%;
    margin-bottom: 7.5%;
}


.blog .post h2 {
    font-size: 1.875rem;
}


.blog .post h3 {
    font-size: 1.125rem;
    color: #999;
}


.blog .image-container img {
    width: 100%;

}

.images {
    margin-bottom: 20%;
}

.images .image-container {
    display: inline-block;
    width: 49%;
}



/* Footer Section */


.footer {
    border: 1px solid black;
    font-size: 1.125rem;
}