* {
    margin: 0;
    padding: 0;
}

/* Header Section */
header ul>li {
    display: inline-block;
}

header ul {
    text-align: right;
}

header {
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px 0px 40px;
}



/* Jumbotron Section */

.jumbotron {
    border: 1px solid red;
    background-color: #fff;
    margin-left: 50px;
    max-width: 1200px;
}

.jumbotron h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

.jumbotron span {
    color: #ffc200;
}


/* Banner Section */

.banner {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;
}


/* Cards Section */

#expertise {
    margin: 0;
    text-align: center;
    padding: 20px;
    background-color: #ffc200;
}



/* Column Container */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* Image Container */

.col {
    padding: 30px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 3px solid wheat; */

}

img {
    border-radius: 30px;
    margin-bottom: 50px;
}



.main {
    background-color: #463707;
}


/* Footer Section */

.footer {
    background-color: #000;
    color: #fff;
    padding: 60px 0px;
}


.footer h3 {
    font-size: 20px;
    margin-left: 20px;
}

.footer p {
    font-size: 12px;
    margin-bottom: 0px;
    margin-left: 20px;
}



/* Sizing  */

.container {
    margin: 0 auto;
}

.spacer {
    /* border: 1px solid red; */
    max-width: 1200px;
    margin: 0 auto;
}