* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Karla', sans-serif;
}


.nav--navbar {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    border: 1px solid #000000;
    color: white;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav--logo {
    display: flex;
    gap: 0.625rem;
}

.nav--logoimg {
    width: 30px;
}