/* Universal Styles */

html {
    font-size: 16px;
    background-color: hsla(0, 0%, 100%, 0.746);
}




body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.main {
    padding-top: 1rem;
    height: 30rem;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-5/tsunami-coffee/images/bg-photo.png);
    background-size: cover;
    background-position: center;
}

.main img {
    width: 15rem;
    display: block;
    margin: auto;
    margin-top: 5rem;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}


.clearfix {
    clear: both;
}

.supporting .rating .gallery .location {
    margin: 4em auto;
}



/* Navigation Section Syles*/

nav {
    border: 2px solid #000000;
    background-color: #ff4500;
    color: #ffffff;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 0.75rem 1.25rem;
}


/* Supporting Section Syles*/

.supporting {
    border: 2px solid #ff0000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
}

.supporting img {
    width: 10%;
    height: 10%;
    margin-right: 5%;
}



/* Rating Section Syles*/

.rating {
    background-color: #ff4500;
    color: #ffffff;
    border: 2px solid #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    padding: 0 1rem;
}


.rating h1 {
    font-size: 2.5rem;
}



/* Gallery Section Syles*/

.gallery {
    border: 2px solid #ff0000;
}

.gallery img {
    display: block;
    width: 30%;
    float: left;
    margin: 1.5%;
}


/* Location Section Syles*/

.location {
    margin-bottom: 7rem;
    text-align: center;
    border: 2px solid #000000;
}

.location img {
    max-width: 100%;
    height: auto;
}



/* Location Section Syles*/


footer {
    background-color: #ff4500;
    border: 2px solid #000000;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 0;
}




@media only screen and (max-width: 700px) {

    .supporting img {
        display: none;
    }

}





@media only screen and (max-width: 960px) {
    .main {
        padding-top: 0;
    }
}





@media only screen and (max-width: 650px) {
    .rating h1 {
        font-size: 2rem;
    }

    .gallery img {
        width: 100%;
        margin: 0;
    }


    footer nav {
        display: none;
    }
}