/* Identical to HTML Element with High Specificity */
:root {
    font-size: 20px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

.section-center {
    margin: 100px auto;
    max-width: 800px;
}

.absolute-type h1 {
    font-size: 40px;
}

.absolute-type p {
    font-size: 20px;
}

.relative-type h1{
    font-size: 2.5rem;
}

.relative-type p{
    font-size: 1.5rem;
}