* {
    margin: 0;
    padding: 0;
}



.boxone {
    background-color: dodgerblue;
    font-size: 30px;
    color: whitesmoke;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
}

.boxtwo {
    background-color: red;
    font-size: 30px;
    color: whitesmoke;
    font-family: 'consolas';
    height: 100px;
    width: 100px;
    margin: 0 auto;
}