/* ------------------ */
/* Custom Properties  */
/* ------------------ */
:root {
    --gap: 1rem;

    /* Colors are declared without identifiers*/
    --clr-dark: 230, 35%, 7%;
    --clr-light: 231, 77%, 90%;
    --clr-white: 0, 0%, 100%;

    /* Font Sizes */
    /*--fs-900: 9.375rem;*/
    --fs-900: 150px;


    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* Font Families */

    --ff-serif: 'Bellefair', serif;
    --ff-sans-cond: 'Barlow Condensed', sans-serif;
    --ff-sans-normal: 'Barlow', sans-serif;


}


/* ------------------ */
/* Reset              */
/* ------------------ */


/* Box Sizing */

/* Makes Calculating Width and Height Much Easier*/
*, *::before, *::after {
    box-sizing: border-box;
}

/* Reset Margin */
body, h1, h2, h3, h4, h5, h6, p, figure, picture {
    margin: 0;
}

/* Set Up the Body*/
body {
    line-height: 1.5;
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-300);
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));

    /* Ensures the body occupies 100% of the viewport*/
    min-height: 100vh;
    /* Uncomment the below to see the benefits*/
    /*border: 1px solid white;*/
}

/*Make images easier to work with*/
img, picture {
    max-width: 100%;
    display: block;
}

/* Make forms easier to work with*/
input, button, textarea, select {
    font: inherit;
}

/* Remove animations for people who've turned off (woke shit)*/
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

ol, ul {
    list-style: none;
}

/* Remove default Bold from all the Headings and Paragraphs */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* ------------------ */
/* Utility Classes    */
/* ------------------ */

/* General */

.flex {
    display: flex;
    gap: var(--gap);

}

.grid {
    display: grid;
    gap: var(--gap);
}

/* Select child elements that have an adjacent sibling*/
.flow > * + * {
    /*outline: 1px solid red;*/
    margin-top: var(--flow-space, 2rem);
}

/* Same as the above, everything but the fist child */
.flow2 > *:not(:first-child) {
    /*outline: 1px solid blue;*/
    margin-top: var(--flow-space, 1rem);
}


.container {
    /* Inline Variations focus on left and side*/
    /* Prevent from things touching on the page*/
    padding-inline: 2em;
    /*Limit page width*/
    max-width: 60rem;
    /*  Center */
    margin-inline: auto;

}

/* Accessibility Class */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* Colors */

.bg-dark {
    background-color: hsl(var(--clr-dark));
}

.bg-light {
    background-color: hsl(var(--clr-light));
}

.bg-white {
    background-color: hsl(var(--clr-white));
}

.bg-lightCustom {
    background-color: hsla(var(--clr-light), 20%);
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-light {
    color: hsl(var(--clr-light));
}

.text-white {
    color: hsl(var(--clr-white));
}

/* Typography  */

.ff-serif {
    font-family: var(--ff-serif);
}

.ff-sans-cond {
    font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
    font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
    letter-spacing: 4.75px;
}

.letter-spacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}

.uppercase {
    text-transform: uppercase;
}

.fs-900 {
    font-size: var(--fs-900);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}

.fs-900, .fs-800, .fs-700, .fs-600 {
    line-height: 1.1;
}


/* Design System Styles */

#colors .box {
    flex-basis: 100%;
    /*border: 1px solid white;*/
}

.box > div {
    padding: 3rem 1rem 1rem;
    border: 1px solid white
}

/* Numbered Titles */

.numbered-title {
    color: hsl(var(--clr-white));
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    letter-spacing: 4.75px;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.numbered-title span {
    color: hsl(var(--clr-light));
    /* Relative to font size from parent*/
    margin-right: .1em;
    font-weight: 600;
}

/* ------------------ */
/* Components         */
/* ------------------ */


.large-button {
    /* To Modify the size of inline element*/
    display: grid;
    /* Similar to Flex Align Justify center*/
    place-items: center;
    /* Padding relative to font size*/
    /* If font size grows the padding will change with it*/
    /*fs-600/2rem/32px/ -> 2em/64px*/
    padding: 0 2em;
    /* width / height*/
    aspect-ratio: 1 / 1;
    /* remove dash from link*/
    text-decoration: none;
    /* Make perfect circle*/
    border-radius: 50%;
}

.large-button:hover{
    padding: 0 3em;
    transition: 1s ease-out;
}

/*https://codepen.io/spankiejoe/pen/qdRpaW*/