/* ------------------ */
/* Custom Properties  */
/* ------------------ */
:root {
    --gap: 1rem;

    /* Colors are declared without identifiers*/
    --clr-dark: 230, 35%, 7%;
    --clr-light: 231, 77%, 90%;
    --clr-white: 0, 0%, 100%;
}


/* ------------------ */
/* Reset              */
/* ------------------ */


/* Box Sizing */

/* Makes Calculating Width and Height Much Easier*/
*, *::before, *::after {
    box-sizing: border-box;
}

/* Reset Margin */
body, h1, h2, h3, h4, h5, h6, p, figure, picture {
    margin: 0;
}

/* Set Up the Body*/
body {
    line-height: 1.5;
    /* Ensures the body occupies 100% of the viewport*/
    min-height: 100vh;
}

/*Make images easier to work with*/
img, picture {
    max-width: 100%;
    display: block;
}

/* Make forms easier to work with*/
input, button, textarea, select {
    font: inherit;
}

/* Remove animations for people who've turned off (woke shit)*/
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

ol, ul {
    list-style: none;
}

/* ------------------ */
/* Utility Classes    */
/* ------------------ */

/* General */

.flex {
    display: flex;
    gap: var(--gap);

}

.grid {
    display: grid;
    gap: var(--gap);
}

.container {
    /* Inline Variations focus on left and side*/
    /* Prevent from things touching on the page*/
    padding-inline: 2em;
    /*Limit page width*/
    max-width: 60rem;
    /*  Center */
    margin-inline: auto;

}

/* Accessibility Class */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* Colors */

.bg-dark {
    background-color: hsl(var(--clr-dark));
}

.bg-light {
    background-color: hsl(var(--clr-light));
}

.bg-white {
    background-color: hsl(var(--clr-white));
}

.bg-lightCustom {
    background-color: hsla(var(--clr-light), 20%);
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-light {
    color: hsl(var(--clr-light));
}

.text-white {
    color: hsl(var(--clr-white));
}

/* */

#colors .box{
flex-grow: 1;
}

.box > div{
    padding: 3rem  1rem 1rem;
    border: 1px solid white
}
