/* Universal Styles */

* {
    margin: 0;
}


/* Header  */

header {
    background-color: dodgerblue;
}

header .content {
    background-color: dodgerblue;
}


/* Main Content */



/* Sign up Section */
#sign-up-section {
    background-color: greenyellow;
}


/* Features Section */

#features-section {
    background-color: #f3f3f3;
}



/* Filters Section */

#filters-section {

    background-color: #4a4a4a;

}


/* Quotes Section */






/* Footer */