/* Universal Styles */

* {
    margin: 0;
    /* box-sizing: border-box; */
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.center {
    text-align: center;
}

.button {
    border-radius: 4px;
    background-color: #4A4A4A;
    color: white;
}

.image-container img {
    display: block;
}

/* Navigation Bar Header */

header {
    height: 5.3125rem;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #c6c1c1;
    background-color: #FFFFFF;
    z-index: 1;
}

header .content {
    display: flex;
    align-items: center;
    padding: 1.870rem;
}

header .logo {
    flex: 1;
}

header nav ul {
    display: flex;
}

nav a {
    vertical-align: bottom;
    text-decoration: none;
    color: #4A4A4A;
    font-size: 1rem;
    line-height: 1.6rem;
}

nav li {
    padding-left: 3.5rem;
}

header .icon {
    width: 1rem;
    padding-left: 0.75rem;
}


header .mobile {
    display: none;
}

/* Main Content */


main {
    position: relative;
    top: 5.3125rem;
}

/* Sign up Section */

#sign-up-section {
    height: 43.5rem;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    background-image: url(resources/images/banner-landingpage.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.sign-up-cta {
    background-color: #9dc20b;
    border: solid 1px #979797;
    color: #FFFFFF;
    padding: 0 5rem 2.5rem 5rem;
    border-radius: 4px;
    margin-left: 100px;
}

.sign-up-cta .content {
    width: 25.625rem;
    margin-top: 2rem;
    font-size: 1.25rem;
    line-height: 1.4;
}

.sign-up-cta .cursive {
    font-family: "Damion", cursive;
}

.sign-up-cta h2 {
    font-size: 2.25rem;
}

.sign-up-cta .striking {
    font-family: "Rubik", sans-serif;
    padding-bottom: .75rem;
}

.sign-up-cta h1 {
    font-size: 3.125rem;
    text-transform: uppercase;
}


.sign-up-cta span strong {
    font-weight: bold;
}

.sign-up-cta .email>.button {
    margin-top: 1.625rem;
    padding: 1.25rem 7.25rem;
}



/* Features Section */

#features-section {
    background-color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    padding: 4rem 5% 4rem 5%;
}

#features-section .feature {
    background-color: white;
    margin: 0px 1.25rem;
    flex: 1;
}

#features-section .content {
    padding: 2.5rem 0;
}



#features-section .feature .image-container {
    max-width: 90%;
    height: 65%;
    margin: 0 auto;
    padding: 2rem;
}

#features-section .image-container img {
    max-width: 100%;
}

#features-section h2 {

    padding-bottom: .5rem;
    font-size: 2.25rem;
    font-weight: bold;
    color: #4a4a4a;
}


#features-section h3 {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 1.2;
    color: #4A4A4A;
}



/* Filters Section */

#filters-section {
    padding: 4rem 0;
    background-color: #4A4A4A;

}


#filters-section .content {
    padding: 0 .625rem;
    margin-bottom: 5rem;

}

#filters-section .content h2 {
    color: #FFFFFF;
    font-size: 2.25rem;
    font-weight: bold;
}


#filters-section .content h3 {
    color: #FFFFFF;
    font-weight: 300;
    line-height: 1.4;
}

#filters-section .images-container {
    max-width: 100%;
    padding: 0 1%;
    display: flex;
}


#filters-section .image-container {
    flex: 1;
}

#filters-section .image-container img {
    max-width: 100%;
}


/* Quotes Section */

#quotes-section {
    background-color: #F3F3F3;
}

#quotes-section .content {
    padding: 5rem 0;
}

#quotes-section .quote {
    font-family: "Palatino";
    font-style: italic;
    font-size: 1.875rem;
    color: #4A4A4A;
    line-height: 1.1;
    display: block;
    margin-bottom: 1rem;
}


/* Footer */

footer {
    background-color: #9B9B9B;
    padding: 1.5rem 2rem;
    color: #FFFFFF;
    font-size: .75rem;
}

footer .content {
    display: flex;
    justify-content: center;
}

footer .copyright {
    flex: 1;
}





@media only screen and (max-width: 760px) {


    header {
        height: 3rem;
        display: flex;
        align-items: center;
    }

    /* Show the Destop Icons */
    header .desktop {
        display: none;
    }

    header .mobile {
        display: block;
        width: 100%;
    }

    header .content {
        flex: 1;
        padding: 0.5rem 0;
    }

    header .mobile ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    header .mobile .button {
        padding: .1875rem .5rem;
        background-color: #9dc20b;
    }



    #features-section {
        flex-direction: column;
    }

}


@media only screen and (max-width: 890px) {

    .main-content {
        top: 2rem;
    }

    .sign-up-cta {
        background-color: transparent;
        border: none;
        margin: 0 auto;
    }

    .email {
        display: none;
    }


    #features-section {
        padding: 0;
    }

}