* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Consolas';
}

.card--container {
  margin: 0 auto;
  max-width: 1200px;
}

/*  Navbar */

.nav--navbar {
  display: flex;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 1.2rem 2.5rem;
}


.nav--logo {
  width: 7rem;
}

/*  Hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero--logo {
  padding: 3rem 1rem;
  max-width: 100%;
  max-height: 600px;
}

.hero--experiences {
  padding: 2rem;
}

.hero--experiences h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

/*  Cards  */

.card {
  display: flex;
  flex-direction: column;
  max-width: 210px;
  margin: 1rem;
  border-radius: 12px;
  line-height: 20px;
  font-size: 12px;
}

.card--image {
  border-radius: 12px;
}


.card--star {
  display: inline-flex;
  width: 20px;
}

.subcontainer {
  display: inline-flex;
  align-items: center;
}